@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.footer {
  background-color: rgb(199, 199, 199);
  color: rgb(48, 48, 48);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(48, 48, 48);
}